<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j. 
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
    <Appenders>
    	<!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </Console>
        <!-- file appender-->
         <File name="File" fileName="logs/application.log" append="false">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
    </Appenders>
    <Loggers>
    	<!-- Root logger referring to console appender -->
        <Root level="debug">
            <AppenderRef ref="console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>